@{
    ViewBag.Title = "Create Word";
}

<h2>Create Word</h2>
<div ng-app="TweetApp" ng-controller="wordCtrl">
    <div class="row">
        <div class="form-group col-md-3">
            <input type="text" class="form-control" ng-model="txtWordName" placeholder="Type in the Word...">
           </div>
            <div class="form-group col-md-3">
                <button class="btn btn-default" ng-click="createWord()">Create</button>
            </div>
        </div>
</div>



